hostname | ip | mac | os | CPU | Mem(gb) | User | Uptime | Glpi | Agent_IB | R7
{% for host in groups['reachable'] %}
{{ hostvars[host].ansible_hostname }} | {{ hostvars[host].ansible_default_ipv4.address }} | {{ hostvars[host].ansible_default_ipv4.macaddress }} | {{ hostvars[host].ansible_os_family }} {{ hostvars[host].ansible_lsb.release }} {{ hostvars[host].ansible_kernel }} | {{ hostvars[host].ansible_processor[2] }} | {{ (hostvars[host].ansible_memory_mb.real.total/1024)|round(2, 'floor') }} | {{ hostvars[host].hosted_user.stdout_lines[0] }} | {{ hostvars[host].uptime.stdout_lines[0] }} | {{ hostvars[host].fusion.stat.exists }} | {{ hostvars[host].agentbez.stat.exists }} | {{ hostvars[host].office_exists.stat.exists }} 
{% endfor  %}

Online PC now: | {{ HOST_COUNT_REACHABLE }} | Collect date: | {{ ansible_date_time.date }} {{ ansible_date_time.time }}