[all]
{% for host in groups['sort'] %}
{{ hostvars[host].ansible_default_ipv4.address }}
{% endfor  %}
[all:vars]
ansible_become_method=sudo
ansible_become=yes
ansible_user=avatar
ansible_port=22
#ansible_password=
# SORT PC now: | {{ HOST_COUNT_SORT }}