[all]
{% for host in groups['reachable'] %}
{{ hostvars[host].ansible_default_ipv4.address }}
{% endfor  %}
[all:vars]
ansible_become_method=sudo
ansible_become=yes
ansible_user=
ansible_port=22
#ansible_password=
