hostname | ip | user | {{ sort_name }} exists
{% for host in groups['sort'] %}
{{ hostvars[host].ansible_hostname }} | {{ hostvars[host].ansible_default_ipv4.address }} | {{ hostvars[host].hosted_user.stdout_lines[0] }} |	 {{ hostvars[host].sort_name_register.stat.exists}}  
{% endfor  %}

ONLINE PC NOW: | {{ HOST_COUNT_REACHABLE }}
SORT PC now: | {{ HOST_COUNT_SORT }}  
Collect date: | {{ ansible_date_time.date }} {{ ansible_date_time.time }}